<div id="navigation">
        <nav id="bar">
            <h1>
                <a href="index.html">erix.mine.nu</a>
            </h1>
            <div id="icon"></div>
            <div id="menu"></div>
        </nav>
    </div>
    <div id="blue">
        <div id="welcome"></div>
    </div>  
    <div id="content">
        <div id="columns">
            <div>
                <%= image_tag "term.png" %>
                <b>Temperatur</b>
                Visar temperatur på inne- och utomhusluften
                samt vedpanna, kylvatten och ackumulatortank.
                Data samlas in flera gånger per minut både med
                hjälp av 1-wire och trådlöst.
            </div>
            <div>
                <%= image_tag "bulb.png" %>
                <b>Belysning</b>
                Egenutvecklat styr- och övertvakningssystem system
                för trådlösa fjärrströmbrytare och reläer.
            </div>
            <div>
                <%= image_tag "gear.png" %>
                <b>Projekt</b>
                Ta del av mina utvecklingsprojekt, hobbyprojekt,
                allt möjligt som kan vara det minsta intressant
                för omvärlden att känna till.
            </div>
        </div>    
    </div>
    <div id="footer"> 
        <p>Sidan skapad av Erik Lindqvist med hjälp av</p>
        <a href="http://www.brackets.io">Brackets</a>
        <a href="http://www.rubyonrails.org">Ruby on Rails</a>            
        <a href="http://www.w3c.org">HTML5</a>
        <a href="http://www.w3c.org">CSS3</a>
        <a href="http://www.jquery.com">jQuery</a>
        <a href="http://www.coffeescript.org">CoffeeScript</a>
    </div>